@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Obligatorisk innlevering 3 DAT154</h1>
    <h2 class="display-6">Gruppe 6</h2>
    <p><a href="https://youtu.be/dQw4w9WgXcQ">LOL EZ GAME</a></p>
</div>
